 body { 
    font-family: Arial, sans-serif;
     padding: 20px;
      background-color:antiquewhite;
    }
   
    .error { 
        color: red;
     }
    input, textarea {
         display: block; 
         margin-bottom: 10px;
          width: 50%;
           padding: 8px; 
        }
    button {
     padding: 10px 20px;
     background-color: aqua;
     border-radius: 10px;
      }